*.d
*.obj
*.o
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.swp
*.exe
docs/
bin/
tools/
share/
lib_linux_arm/
*.xcodeproj
*.sln
*.dxy
*.ncb
*.suo
*.htm
*.sub
*.wpj
*.wsp
*.in
*.sh
*.ac
*.status
*.guess
*.vcproj
win32/
